asdf>=4.1.0
astropy>=7.0.1
asdf-astropy>=0.7.1
astroquery>=0.4.10
galsim>=2.6.3
matplotlib>=3.10.0
numpy>=2.2.3
romanisim==0.13.1
roman_datamodels>=0.30.0,<0.31
rad==0.30.0
s3fs>=2025.5.1
dask[complete]
stpsf>=2.1.0
