roman_datamodels>=1.0,<1.1
requests>=2.32.5
synphot>=1.7.0
stsynphot>=1.5.1
stpsf>=2.1.0
astropy>=7.2.0,<9
asdf-astropy>=0.11.0
gwcs>=1.0.3,<2
crds>=13.1.15
matplotlib>=3.9
numpy>=2.4.4
pandas>=3.0.3 
